{% extends 'base.html.twig' %}
{% block title %}show
{% endblock %}

{% block body %}

<h1> Information utilisateur </h1>
	<div class="w-50 m-auto form-control mt-4">

		<h2>
			L'utilisateur : {{user.name}}
		</h2>
		<p>
            Email:{{user.email}}
		</p>
		<p>
			<span>
				Date de création :
				{{user.createAt|date('d:m:Y h:m:s')}}</span>
		</p>
	</div>
{% endblock %}

